body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

input, button {
    margin-bottom: 10px;
}

#userData {
    margin-top: 20px;
}

#repoList {
    margin-top: 20px;
}
